body {
        background: black;
        color: white;
}
nav a {
        background: black;
        color: white;
        margin-left: 50px;
        text-decoration: none;
}
.parameter {
        padding: 10px;
        margin: 5px;
}
.alert {
        padding: 20px;
        margin: 5px;
        color: red;
        background: white;
}
